body{
    background-color: rgba(0, 0, 0, 0.774);
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(RCPIT.jpg);
    background-size: cover;
    background-position: center;
}
.navbar {
    border-radius: 25px;
    width: 25%;
    height: 5%;
    margin: auto;
    margin-top: -7.5%;
    padding: 35px,0;
    display: flex;
    background-color: rgba(198, 130, 238, 0.404);
    align-items: center;
    
}
.navbar a{
    text-decoration: none;
    color: white;
    margin: auto;
}
.content
{
    background-color: white;
}
.login{
    color: white;
    text-align: center;
    display: inline-block;
    padding: 5%;
    background-position: center;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 15%;
    margin-left: 40%;
    align-items: center;
}
button{
    color: white;
    text-align: center;
    background: transparent;
    border: 2px solid  rgb(172, 71, 231);
    margin-top: 2%;
    margin-left: 15%;
    height: 25px;
    width : 75px;
    border-radius: 25px;
    justify-content: center;
    justify-content: space-around;
}
button:hover{
    background-color: rgba(198, 130, 238, 0.404);
}